* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 5vh 15vw;
    text-align: center;
}

h1 {
    margin-bottom: 5vh;
}

div.section-dynamic {
    margin: 3rem 0;

    display: flex;
    justify-content: space-between;
}

img.computer-choice {
    height: 25vw;
    width: 25vw;
    flex: 0 0 auto;
}

div.card-scoreboard > h2 {
    display: inline;
    margin: 0;
    padding: 0;
}

.card-result-message {
    font-size: 3vh;
}

h2 {
    font-size: 5rem;
}

div.buttons-player {
    display: flex;

    justify-content: space-between;
    align-items: flex-start;
}

.buttons-player > button > img {
    height: 15vw;
    width: 15vw;
}

