* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.buttons-player {
    display: flex;

    justify-content: space-evenly;
    align-items: flex-start;
}

.buttons-player > button > img {
    height: 20vw;
    width: 20vw;
}